#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
.verse{
  text-align: center;
  margin: 0 auto;
  width: 50vw;
  font-size: medium;
  color: black;
}
.header{
  font-size:5vw;
  padding: 0;
  margin: 0;
  color:rgb(2, 2, 92)
}
h2{
  color:rgb(2, 2, 92)
}